{% extends 'base.html' %}
{% block content %}{{ super() }}{% endblock %}
{% block other %}
<section id="Trusted_by">
    <h1 class="trust"> Trusted By Top Companies </h1>
    <div class="row image">
        <div class="col-lg-4">
            <img src='../static/micro.png'>
        </div>
        <div class="col-lg-4">
            <img class="goo" src='../static/google.png'>
        </div>
        <div class="col-lg-4">
            <img src='../static/tesla.png'>
        </div>
    </div>
</section>

<section id="Quizzes">
    <div class="row">
        <h1 class='qui'>Some Quizzes To Try</h1>
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="../static/quiz.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-dark qubt">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="../static/quiz.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-dark qubt">Go somewhere</a>
                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="../static/quiz.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-dark qubt">Go somewhere</a>
                </div>
            </div>

        </div>
    </div>

</section>

<section id="icons">
    <div class="row icon">
        <div class="col-lg-4">
            <i class="fa-solid fa-crosshairs fa-6x"></i>
            <p class="iico">Achieve the Goals Sucessfully</p>
            </p>
        </div>

        <div class="col-lg-4">
            <i class="fa-solid fa-heart fa-6x"></i>
            <p class="iico">Loved By Many Students</p>
        </div>
        <div class="col-lg-4">
            <i class="fa-solid fa-circle-check fa-6x"></i>
            <p class="iico">Easy To Use</p>


        </div>
    </div>
</section>
<section id='openion'>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h1 class="con">Promt service and reply! Very well organized . <br>Easy and rapid to access .I will
                    recomend. Thank you !</h1>
            </div>
            <div class="carousel-item">
                <h1 class="con">I can recommend Good e-Learning for an excellent online <br>learning experience.</h1>
            </div>
            <div class="carousel-item">
                <h1 class="con">I do recommend this platform as the content is good and <br>provides very good value.
                </h1>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</section>
<section id="footer">

    <i class="fa-brands fa-facebook-f fa-2x  aaai"></i> <i class="fa-solid fa-envelope fa-2x aaai"></i><i
        class="fa-solid fa-headset fa-2x aaai"></i>
    <p class="aa"><i class="fa-regular fa-copyright"></i> Copyright 2022</p><br>

</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
{% endblock other %}
</body>

</html>
